table#outer1 {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  padding: 10px;
}
th#outer1, td#outer1, tr#outer1 {
  border: 1px solid #dddddd;
  padding: 10px;
}
table#inner1 {
  border: 0px;
  width: 100%;    
  border-collapse: collapse;
  padding: 2px;
}
table#inner1 th {
  background-color: #dd7777;
  padding: 5px;
}
table#inner1 td {
  padding: 5px;
}
table#inner1 tr:nth-child(even) {
  background-color: #eee;
  padding: 5px;
}
table#inner1 tr:nth-child(odd) {
  background-color: #fff;
  padding: 5px;
}
table#inner2 {
  border: 0px;
  width: 100%;    
  border-collapse: collapse;
  padding: 2px;
}
table#inner2 th {
  background-color: #FFD800;
  padding: 2px;
}
table#inner2 tr:nth-child(even) {
  background-color: #eee;
  padding: 5px;
}
table#inner2 tr:nth-child(odd) {
  background-color: #fff;
  padding: 5px;
}
